<!DOCTYPE html>
<html>
  <head>
    <title>RoutesControllersIntro</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% if flash[:alert] %>
       <p class="alert"><%= flash[:alert] %></p>
      <% end %>

      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <h1><%= @header %></h1>
    </header>

    <main>
        <%= link_to("welcome", welcome_url)%>
        <%= link_to("about", about_url)%>
        <%= link_to("contest", contest_url)%>
        <%= link_to("kittens", kitten_url(500))%>
        <%= link_to("kitten" , kitten_url(400))%>
      <%= yield %>
    </main>

  </body>
</html>
